section.nav {
    background-color: #272932;
    text-decoration: none;
    width: 86vw;
    position: sticky;
    top: 0;
    margin: 0 auto;
    border-radius: 0 0 25px 25px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
section.nav img {
    height: 55px;
}
section.nav h3 {
    padding: 0;
    margin: 0;
    font-family: Futura;
    font-size: 2rem;
    text-decoration: none;
}
section.nav section {
    display: flex;
    flex-direction: row;
    height: 60px;
}
section.nav section .item:hover {
    background-color: rgba(255, 255, 255, 0.09);
}
#nav-link-002 {
    border-radius: 0 0 25px 0;
}
.d-footer-container {
    background-color: #272932;
    text-decoration: none;
    width: 86vw;
    position: sticky;
    margin: 0 auto;
    border-radius: 25px 25px 0 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    height: 25px;
    font-size: 0.8rem;
}